body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lavender;
  
    /* color: darkslateblue; */
    /* color: dodgerblue; */
  }
  
  .container {
    max-width: 800px;
    margin: 3rem auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: ghostwhite;
  }
  
  h1 {
    font-family: cursive;
    text-align: center;
    /* color: darkslateblue; */
    color: midnightblue;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 50px;
  }
  
  .total-value {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2rem;
  }
  